.history/
YE-tangnano9k-EVB-backups/
YE-tangnano9k-EVB.kicad_prl
fabrication-toolkit-options.json
fp-info-cache
production/
~YE-tangnano9k-EVB.kicad_pro.lck
YE-tangnano9k-EVB.csv
docs/YE-tangnano9k-EVB.pdf
